<div class="card-product">
  <%= cl_image_tag guitar.photo, crop: :fill, class: "card-product-image" %>
  <div class="card-product-infos w-100 d-flex flex-column justify-content-between">
    <div></div>
    <div>
      <h2><%= guitar.brand %>:<%= guitar.model %></h2>
      <p><%= guitar.description %></p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <%= link_to  "Voir", guitar_path(guitar.id), class: "btn btn-outline-danger my-2 my-sm-0" %>
      <p class="price"><%= guitar.price_per_day %> €/jour</p>
    </div>
  </div>
</div>
