  <div class="container">
    <div class="row">
      <div class="col-12 d-flex">
        <div>
          <h2 class="stick chat_header border-top-1"><i class="fas fa-guitar"></i> > Toutes les guitares <%= @title_inject %> !</h2>
          <% @guitars.each do |guitar| %>
            <div class="card-product">
              <%= cl_image_tag guitar.photo, height: 150, width: 150, crop: :fill,class: "card-product-image" %>
              <div class="card-product-infos">
                <h2><%= guitar.brand %>:<%= guitar.model %></h2>
                <p><%= guitar.description %></p>
                <p class="price"><%= guitar.price_per_day %> €/jour</p>
                <%= link_to  "Show", guitar_path(guitar.id), class: "btn btn-outline-danger my-2 my-sm-0", id: "btn-show-index" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
