<div class="container">
<%= link_to "> Guitar list", guitars_path, class: "site-breadcrumb d-block" %>
  <div class="row d-flex justify-content-center">
    <div class="col-7 mb-3">
        <div class="guitar-presentation">
            <div class="title-price d-flex justify-content-between">
              <div><h1><%= @guitar.brand %> <%= @guitar.model %> </h1></div>
              <div class="guitar-price"><p> <%=  @guitar.price_per_day %> €/day</p></div>
            </div>
            <div class="img">
              <%= image_tag("https://www.pourlesmusiciens.com/medias/45/cort-earth-100-dreadnought-epicea-acajou-large-3-66889.jpg") %>
            </div>
        </div>
    </div>
    <div class="col-5 mb-3">
      <div class="calendar-card flex-grow-1">
        <h2>Book a period of time</h2>
        <p>Please check below the availability dates of this guitar:</p>
        <%= simple_form_for [@guitar,@booking], method: "get" do |f| %>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Go", class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
         <br>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-7">
      <div class="guitar-description">

        <h2>Characteristics</h2>
        <ul>
          <li>Brand: <%= @guitar.brand %></li>
          <li>Model: <%= @guitar.model %></li>
          <li>Type: <%= @guitar.genre %></li>
          <li>Level: <%= @guitar.level %></li>
        </ul>
         <br>
        <h2>Description</h2>
        <p>
          La guitare acoustique folk type Dreadnought CORT Earth 100 (ref E100TF) est une des guitares acoustiques table massive favorite des musiciens. Avec sa rosace "Wood-Ring" ,le dos et les eclisses en Acajou laminé, cette guitare acoustique possède un belle esthétique. De construction robuste, la guitare Earth 100 peut être emmenée partout sans crainte.
        </p>
        <p>
          Concernant le jeu du musicien, la Earth 100 possède un manche très confortable et est une guitare acoustique corde acier au son assez équilibrée, clair et brillant grâce à sa table en épicéa massif. Cette sonorité neutre rend donc cette guitare polyvalente et idéale pour accompagner un chant par exemple.
        </p>
      </div>
    </div>
    <div class="col-5">
      <div class="user-card">
        <h2>Owner profile</h2>
        <div class="d-flex align-items-top">
          <%= image_tag "https://www.coloriageetdessins.com/images/animaux/ours/ours-grizzly-10286-660x400.jpg", size: "250x250", class: "avatar-bordered" %>
          <div class="user-name-address">
            <p> Name: <%=  @user.first_name.capitalize %> <%=  @user.last_name.capitalize %></p>
            <p> Address: <%=  @user.address %></p>
          </div>
        </div>
        <p> <strong>Contact:</strong> <%=  @user.email %></p>
        <br>
        <h2>Reviews</h2>
          <div>
              <% 5.times do %>
              <i class="fa fa-star gold"></i>
              <% end %>
          </div>
        <div class="review">
          <p>"Sed quid est quod in hac causa maxime homines admirentur et reprehendant meum consilium, cum ego idem antea multa decreverim, que magis ad hominis dignitatem quam ad rei publicae necessitatem pertinerent"</p>
        </div>
        <div class="mx-auto" style="width: 150px;">
        <!-- <button type="button" class="btn btn-outline-success my-2 my-sm-0"> See <%= @user.first_name.capitalize %> profile </button> -->
          <%= link_to profil_path(@user), class: "btn btn-outline-success my-2 my-sm-0" do %>
            See <%= @user.first_name.capitalize %> profile
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Flatpickr Demo</h2>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

