<div class="container">
<%= link_to "> Guitar list", guitars_path, class: "site-breadcrumb d-block" %>
  <div class="row d-flex justify-content-center">
    <div class="col-7 mb-3">
        <div class="guitar-presentation">
            <div class="title-price d-flex justify-content-between">
              <div><h1><%= @guitar.brand %> <%= @guitar.model %> </h1></div>
              <div class="guitar-price"><p> <%=  @guitar.price_per_day %> €/day</p></div>
            </div>
            <div class="text-center">
              <%= cl_image_tag @guitar.photo, width: 450, height: 450, crop: :fill %>
            </div>
        </div>
    </div>
    <div class="col-5 mb-3">
      <div class="calendar-card flex-grow-1">
        <h2>Book a period of time</h2>
        <p>Please check below the availability dates of this guitar:</p>
        <%= simple_form_for [@guitar,@booking], method: "post" do |f| %>
          <%= f.input :start_date,
                      as: :string,
                      required: false,
                      input_html: {id: "range_start" ,class: "datepicker"}%>
          <%= f.input :end_date,as: :string, required: false, input_html: {id: "range_end", class: "datepicker"} %>
          <%= f.button :submit, "Go", class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
        <%#= link_to "Book now !", booking_path(@guitar.bookings[0]), class: "btn btn-outline-success my-2 my-sm-0" %>
         <br>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-7">
      <div class="guitar-description">

        <h2>Characteristics</h2>
        <ul>
          <li>Brand: <%= @guitar.brand %></li>
          <li>Model: <%= @guitar.model %></li>
          <li>Type: <%= @guitar.genre %></li>
          <li>Level: <%= @guitar.level %></li>
        </ul>
         <br>
        <h2>Description</h2>
        <p><%= @guitar.description %></p>
      </div>
    </div>
    <div class="col-5">
      <div class="user-card">
        <h2>Owner profile</h2>
        <div class="d-flex align-items-top">
          <%= image_tag "https://www.coloriageetdessins.com/images/animaux/ours/ours-grizzly-10286-660x400.jpg", size: "250x250", class: "avatar-bordered" %>
          <div class="user-name-address">
            <p> Name: <%=  @user.first_name.capitalize %> <%=  @user.last_name.capitalize %></p>
            <p> Address: <%=  @user.address %></p>
          </div>
        </div>
        <p> <strong>Contact:</strong> <%=  @user.email %></p>
        <br>
        <h2>Reviews</h2>
          <div>
              <% 5.times do %>
              <i class="fa fa-star gold"></i>
              <% end %>
          </div>
        <div class="review">
          <p>"Sed quid est quod in hac causa maxime homines admirentur et reprehendant meum consilium, cum ego idem antea multa decreverim, que magis ad hominis dignitatem quam ad rei publicae necessitatem pertinerent"</p>
        </div>
        <div class="mx-auto" style="width: 150px;">
          <%= link_to profil_path(@user), class: "btn btn-outline-success my-2 my-sm-0" do %>
            See <%= @user.first_name.capitalize %> profile
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="booking-form-div" data-bookings ="<%= @bookings_date.to_json %>">
  </div>
</div>
