<div class="container">
<%= link_to "> Liste de guitares", guitars_path,id: "bck-list"%>
  <div class="row d-flex justify-content-center">
    <div class="col-7 mb-3">
        <div class="guitar-presentation">
            <div class="title-price d-flex justify-content-between">
              <div><h1><%= @guitar.brand %> <%= @guitar.model %> </h1></div>
              <div class="guitar-price"><p> <%=  @guitar.price_per_day %> €/jour</p></div>
            </div>
            <div class="text-center">
              <%= cl_image_tag @guitar.photo, width: 450, height: 450, crop: :fill %>
            </div>
        </div>
    </div>
    <div class="col-5 mb-3">
      <div class="calendar-card">
        <h1 class="mb-3 text-success">RESERVEZ</h2>
        <div>
          <%= simple_form_for [@guitar,@booking], method: "post" do |f| %>
            <%= f.input :start_date,label: "Date de début",
                        as: :string,
                        required: false,
                        input_html: {id: "range_start" ,class: "datepicker"}%>
            <%= f.input :end_date,as: :string, label: "Date de fin", required: false, input_html: {id: "range_end", class: "datepicker"} %>
            <%= f.button :submit, "Go", class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-7">
      <div class="guitar-description">

        <h2>Caracteristiques</h2>
        <ul>
          <li>Marque <%= @guitar.brand %></li>
          <li>Modèle: <%= @guitar.model %></li>
          <li>Type: <%= @guitar.genre %></li>
          <li>Niveau: <%= @guitar.level %></li>
        </ul>
         <br>
        <h2>Description</h2>
        <p><%= @guitar.description %></p>
      </div>
    </div>
    <div class="col-5">
      <div class="user-card">
        <h2>Profil</h2>
        <div class="d-flex align-items-center justify-content-around">
          <%= cl_image_tag @user.photo, height: 250, width: 250, crop: :fill, class: "avatar-bordered" %>
          <div class="user-name-address">
            <p> <strong>Nom:</strong> <%=  @user.first_name.capitalize %> <%=  @user.last_name.capitalize %></p>
            <p> <strong>Adresse:</strong> <%=  @user.address %></p>
            <p> <strong>Contact:</strong> <%=  @user.email %></p>
          </div>
        </div>
        <h2>Commentaires</h2>
          <div>
              <% 5.times do %>
              <i class="fa fa-star gold"></i>
              <% end %>
          </div>
        <div class="review">
          <p>"Sed quid est quod in hac causa maxime homines admirentur et reprehendant meum consilium, cum ego idem antea multa decreverim, que magis ad hominis dignitatem quam ad rei publicae necessitatem pertinerent"</p>
        </div>
        <div class="mx-auto" style="width: 150px;">
          <%= link_to profil_path(@user), class: "btn btn-outline-success my-2 my-sm-0" do %>
            See <%= @user.first_name.capitalize %> profile
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="booking-form-div" data-bookings ="<%= @bookings_date.to_json %>">
  </div>
</div>
