<div class="container">
  <%= console %>
<%= link_to "> Guitar list", guitars_path%>
  <div class="row d-flex justify-content-center" style="margin-top: 10px;">
    <div class="col-7 mb-3">
        <div class="guitar-presentation">
            <div class="title-price d-flex justify-content-between">
              <div><h1><%= @guitar.brand %> <%= @guitar.model %> </h1></div>
              <div class="guitar-price"><p> <%=  @guitar.price_per_day %> €/day</p></div>
            </div>
            <div class="text-center">
              <%= cl_image_tag @guitar.photo, width: 450, height: 450, crop: :fill %>
            </div>
        </div>
    </div>
    <div class="col-5 mb-3">
      <div class="calendar-card">
        <h1 class="mb-10">RESERVEZ-MOI</h2>
        <div>
          <%= simple_form_for [@guitar,@booking], method: "post" do |f| %>
            <%= f.input :start_date,label: "Date de début",
                        as: :string,
                        required: false,
                        input_html: {id: "range_start" ,class: "datepicker"}%>
            <%= f.input :end_date,as: :string, label: "Date de fin", required: false, input_html: {id: "range_end", class: "datepicker"} %>
            <%= f.button :submit, "Louer !", class: "btn btn-outline-success my-2 my-sm-0 center" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-7">
      <div class="guitar-description">

        <h2>Caracteristiques</h2>
        <ul>
          <li>Marque <%= @guitar.brand %></li>
          <li>Modèle: <%= @guitar.model %></li>
          <li>Type: <%= @guitar.genre %></li>
          <li>Niveau: <%= @guitar.level %></li>
        </ul>
         <br>
        <h2>Description</h2>
        <p><%= @guitar.description %></p>
      </div>
    </div>
    <div class="col-5">
      <div class="user-card">
        <h2>Profil</h2>
        <div class="d-flex align-items-center justify-content-around">
          <%= cl_image_tag @user.photo, height: 300, width: 300, crop: :fill, class: "avatar-bordered" %>
          <div class="user-name-address">
            <p> <strong>Nom : </strong><%= link_to "#{@user.first_name.capitalize} #{@user.last_name.capitalize}", profil_path(@user) %></p>



              <!-- <%#=  @user.first_name.capitalize %> <%#=  @user.last_name.capitalize %></p> -->
            <p> <strong>Adresse :</strong> <%=  @user.address %>, <%=  @user.city %></p>
            <p> <strong>Contact :</strong> <%=  @user.email %></p>
          </div>
        </div>
        <h2>Derniers commentaires</h2>
          <div>
            <% @user.reviews.last(2).each do |review| %>
              <% review.rating.times do %>
              <i class="fa fa-star gold"></i>
              <% end %>
              <% (5-review.rating).times do %>
              <i class="far fa-star gold"></i>
              <% end %>
          </div>
          <div class="review">
            <p>"<%= review.content %>"</p>
            <% end %>
          </div>
        <div class="mx-auto" style="width: 150px;">
          <%= link_to profil_path(@user), class: "btn btn-outline-success my-2 my-sm-0" do %>
            See <%= @user.first_name.capitalize %> profile
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="booking-form-div" data-bookings ="<%= @bookings_date.to_json %>">
  </div>
</div>
