<img src="https://source.unsplash.com/900x250/?city" alt="image ville">

<h2><%= @flat.name %></h2>
<p><strong><%= @flat.address %></strong> </p>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %>€/Nuit <em>TTC</em></p>
<p><%= @flat.number_of_guests %> personnes maximum</p>


<button class="btn btn-outline-danger" type="button"><%= link_to "Delete", flat_path(@flat),
      method: :delete,
      data: { confirm: "Are you sure?", class: "alert" } %></button>
<button class="btn btn-outline-info" type="button"><%= link_to "back to list", flats_path %></button>
<button class="btn btn-outline-success" type="button">
<%= link_to "edit flat", edit_flat_path(@flat) %></button>
