<div class="container bg-white">
  <div class="row pt-3">
    <div class="col-md-4">
      <div class="text-center">
        <%= image_tag "https://www.coloriageetdessins.com/images/animaux/ours/ours-grizzly-10286-660x400.jpg", size: "200x200", class: "round" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h5>
            <%= @user.first_name.capitalize  %> <%= @user.last_name.capitalize  %>
        </h5>
        <p class="proile-rating"> RATING: <span><%#= @user.review.ratings.avergae %> /5</span></p>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-danger active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" id="guitar-tab" data-toggle="tab" href="#guitar" role="tab" aria-controls="guitar" aria-selected="false"><%= @user.first_name.capitalize  %>' guitars</a>
            </li>
            <% if current_user == @user %>
              <li class="nav-item">
                  <a class="nav-link text-danger" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">+Add guitare</a>
              </li>
            <%else%>
              <li class="nav-item">
                  <a class="nav-link d-none" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">+Add guitare</a>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
              <p class = "text-danger">DERNIERES COMMANDES</p>
              <% @user.bookings.last(2).each do |booking| %>
                <ul>
                  <li>Modèle:<strong> <%= booking.guitar.brand %> <%= booking.guitar.model %></strong></li>
                  <li>Période: du <%= booking.start_date %> au <%= booking.end_date %></li>
                  <li>
                    Loueur: <%= booking.guitar.user.first_name.capitalize %> <%= booking.guitar.user.last_name.capitalize %>
                  </li>
                  <% number_of_days = (booking.end_date - booking.start_date).to_i %>
                  <li>Prix: <%= number_of_days * booking.guitar.price_per_day %> €</li>
                </ul>
              <% end %>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                      <div class="col-md-6">
                          <label>User Id</label>
                      </div>
                      <div class="col-md-6">
                          <p>#<%= @user.id %></p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Name</label>
                      </div>
                      <div class="col-md-6">
                          <p><%= @user.first_name.capitalize  %> <%= @user.last_name.capitalize  %></p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Email</label>
                      </div>
                      <div class="col-md-6">
                          <p><%= @user.email %></p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Adresse</label>
                      </div>
                      <div class="col-md-6">
                          <p><%= @user.address %></p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Ville</label>
                      </div>
                      <div class="col-md-6">
                          <p><%= @user.city %></p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <label>Présentation</label><br/>
                          <p><%= @user.description %></p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <label>Reviews</label><br/>
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                          <p>"Ceci est une réview en dur qu'il conviendra de créer en db, via l'utilitaire seed, notamment."</p>
                      </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="guitar" role="tabpanel" aria-labelledby="guitar-tab">
                  <div class="row">
                    <div class="col-md-12">
                      <label><i class="fas fa-guitar"></i> Guitares Possedées : </label>
                    </div>
                      <% @user.guitars.each do |guitar| %>
                        <div class="card-product">
                          <%= image_tag "jaguar.jpg", alt: "jaguar", class: "avatar-large" %>
                          <div class="card-product-infos" style="width: 500px">
                            <p><strong>Modèle :</strong> "<%= guitar.model %>"</p>
                            <p><strong>Niveau :</strong> "<%= guitar.level %>"
                            <strong>Marque :</strong> "<%= guitar.brand %>"</p>
                            <p><strong>Style :</strong> "<%= guitar.genre %>"
                            <strong>Prix :</strong> "<%= guitar.price_per_day %> €"</p>
                            <%= link_to  "Show", guitar_path(guitar.id), class: "btn btn-outline-danger my-2 my-sm-0", id: "btn-show-profil" %>

                          </div>
                        </div>
                      <% end %>
                    </div>
                </div>
                <% if current_user == @user %>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                      <div class="col-md-12">
                        <%= simple_form_for @guitar do |f| %>
                          <%= f.input :model %>
                          <%= f.input :level, collection: Guitar::LEVEL %>
                          <%= f.input :brand %>
                          <%= f.input :genre, collection: Guitar::GENRE %>
                          <%= f.input :price_per_day %>
                          <%#= f.input :photo_cache, as: :hidden %>
                          <%= f.submit class: "btn btn-outline-danger my-2" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
