<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-light bg-white">
      <%= link_to "GuitaRnb",root_path , class: "navbar-brand" %>
      <div class="d-flex">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
          <div class="ml-5">
          <% if user_signed_in? %>
            <p class="mb-0 text-danger font-weight-bold">Salut <%= current_user.first_name %> !</p>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary " %>
          <% else %>
            <%= link_to "Login/Sign up", new_user_registration_path ,class: "btn btn-outline-primary my-2 my-sm-0 mx-3" %>
          <% end %>
          </div>

      </div>
    </nav>
    <%= yield %>
    <div class="footer fixed-bottom">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
